.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 35px;
  /* max-width: 1200px; */
  min-height: 100vh;
  color: #ccc;
  background-color: #121212;
  /* border-radius: 12px; */
  box-shadow: 0 0 5px #00ffff80;
  line-height: 2;
  justify-content: center;
}

.home h2 {
  font-family: "New Amsterdam", sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 24px;
  color: #00ffff;
  text-align: center;
}

.home p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
  color: #ccc;
}

.cvLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.cvLink:hover, .cvTitle {
  transform: scale(1.1);
}

.cvTitle {
  color: #ccc;
  /* font-family: "Inter", sans-serif; */
  font-size: 16px;
  
}

.resumeIcon {
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* .resumeIcon:hover {

} */

@media (max-width: 600px) {
  .home {
    background-color: #121212;
    padding: 32px 16px;
  }

  .home h2 {
    font-size: 32px;
  }

  .home p {
    font-size: 16px;
  }
}

.home {
  animation: fadeIn 1s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home {
  animation: fadeIn 1s ease-in-out both;
}