.works {
  background-color: #121212;
  width: 100vw;
  min-height: 100vh;
  line-height: 1.5;
  box-shadow: 0 0 5px #00ffff80;
}

.title {
  font-family: "New Amsterdam", sans-serif;
  letter-spacing: 2px;
  color: #00ffff;
  display: flex;
  font-size: 32px;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.projectList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px; /* Controlás el ancho del contenedor */
  padding: 0 10px;
}

.project {
  width: 100%;
  border-radius: 15px;
  color: #fff;
  /* font-family: "New Amsterdam", sans-serif; */
  /* letter-spacing: 1.2px; */
}

.project:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
  box-shadow: 0 8px 16px rgba(0, 255, 255, 0.1);
}

.project p {
  margin: 10px 0;
}

.project a {
  color: #00ffff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.project a:hover {
  color: #0ff; /* más brillante al hover */
  text-decoration: underline;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #00ffff20;
}

.project h3 {
  font-size: 24px;
  letter-spacing: 1.5px;
  margin: 10px auto;
  color: #ddd;
}

.projectContainer {
  border-radius: 15px;
  background-color: #1e1e1e;
  padding: 10px;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
  position: relative;
  overflow: hidden;
}

.projectContainer:hover {
  /* background-color: #222; */
  border-radius: 15px;
  box-shadow: 0 0 15px #00ffff;
  /* box-shadow: 0 0 15px #30363D;   */
  background: linear-gradient(145deg, #111, #222);
}

.details {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.6s ease;
  background-color: #111;
  border-radius: 15px;
  padding: 10px;
  color: #ccc;
  font-size: 15px;
}

.projectContainer:hover .details {
  opacity: 1;
  visibility: visible;
  max-height: 400px;
}

.projectContainer:focus-within .details {
  opacity: 1;
  visibility: visible;
  max-height: 400px;
}


.works {
  animation: fadeIn 1s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .works {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
  }
}

@media (max-width: 769px) {
  .projectList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px; /* Controlás el ancho del contenedor */
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}