/* footer.module.css */
.footer {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #333;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.3); 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  color: white;
  margin: 0;
  font-size: 0.9rem;
}

.socials {
  margin: 20px 0;
}

.socialLink {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
    transition: all 0.3s ease;
}

.socialLink:hover {
  color: #00ffff;
  transform: scale(1.1);
  text-shadow: 0 0 5px #00ffff;
}


@media (max-width: 600px) {
  .socials, .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .socialLink {
    margin: 5px 0;
  }
}