.AppCont {
  min-height: 100vh;
  transition: background 0.6s ease, color 0.4s ease;
}

.App {
  /* justify-items: center; */
  /* border: red solid 5px; */
  background-color: transparent;
  min-height: 100vh;
}

.fullScreenSection1, .fullScreenSection5, .fullScreenSection3 {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

.fullScreenSection {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.light-mode {
  /* background: linear-gradient(to left, #ce41ab, #e75dc9, #ff9bda, #fce4f6); */
  background: #f9e9e5;
  /* color: black; */
  transition: background 0.6s ease, color 0.4s ease;
  /* navBar section */
  --nav-bg: #ffffff;
  --nav-link-color: #a96f81;
  --nav-link-hover: #f1bec7;
  --nav-active-color: #a62c56;
  --nav-shadow: #e396af;
  --button-bg: #f9e9e5;
  --button-text: #e396af;
  --button-border: #bdbdbd;
  --overlay-bg: rgba(0, 0, 0, 0.2);
  /* banner section */
  --banner-color: ##141c3a;
  --banner-shadow: #e396af;
  --banner-h2-color: #a62c56;
}

.dark-mode {
  /* background: linear-gradient(to right,#0a0f1a, #0c1c2e, #122f4c, #1a3f5f); */
  background: black;
  /* color: white; */
  transition: background 0.6s ease, color 0.4s ease;
  --nav-bg: #121212;
  --nav-link-color: #ccc;
  --nav-link-hover: #00ffff;
  --nav-active-color: #00ffff;
  --nav-shadow: rgba(0, 0, 0, 0.6);
  --button-bg: #1e1e1e;
  --button-text: #ccc;
  --button-border: #333;
  --overlay-bg: rgba(0, 0, 0, 0.6);
  /* banner section */
  --banner-color: #ccc;
  --banner-shadow: #00ffff50;
  --banner-h2-color: #00ffff;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background 0.6s ease, color 0.4s ease;
  transition: background 0.6s ease, color 0.4s ease;

}

@media (max-width: 700px) {
  .fullScreenSection1 {
    align-items: center;
  }
}