.banner {
  letter-spacing: 3px;
  text-align: center;
  color: var(--banner-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.banner img {
  width: 500px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--banner-shadow);
  transition: transform 0.3s ease;
}

.banner img:hover {
  transform: scale(1.05);
}

.banner h2 {
  font-size: 60px;
  margin: 0;
}

.banner h2:last-of-type {
  font-family: "New Amsterdam", sans-serif;
  font-size: 70px;
  color: var(--banner-h2-color);
}

.banner p {
  font-size: 20px;
  max-width: 800px;
  line-height: 1.6;
  /* margin-top: 30px; */
  color: var(--banner-color);
}

/* animacion */
.banner {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

@media (max-width: 700px) {
  .banner h2 {
    font-size: 35px;
    margin: 0;
  }

  .banner h2:last-of-type {
    font-family: "New Amsterdam", sans-serif;
    font-size: 40px;
  }

  .banner img {
    width: 60%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
  }
}